@page "{id:int}"
@model BikeRentApp.Pages.Customer.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details for: @Model.Customer.FirstName @Model.Customer.LastName</h1>
<div>
    Id: @Model.Customer.Id
</div>
<div>
    Customer Name: @Model.Customer.FirstName @Model.Customer.LastName
</div>
<div>
    Membership: @Model.Customer.Membership.MembershipType
</div>
<div>
    Phone number: @Model.Customer.PhoneNumber
</div>
<div>
    E-mail: @Model.Customer.Email
</div>
<div>
    City: @Model.Customer.City
</div>
<div>
    Age: @Model.Customer.Age
</div>
<div>
    Gender: @Model.Customer.Gender
</div>

<div class="form-group d-flex justify-content-start">
    <a asp-page="./List" class="btn btn-primary">Back</a>
    <a class="btn btn-outline-secondary" asp-page="./Edit" asp-route-id="@Model.Customer.Id">Edit</a>
</div>
