@page
@model BikeRentApp.Pages.Customer.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Customers</h1>
<div>
    <form method="get">
        <div class="form-row">
            <div class="form-group col-sm-5">
                <label asp-for="SearchName"></label>
                <input placeholder="Customer first or last name" type="search" class="form-control" asp-for="SearchName" />
            </div>
            <div class="form-group col-sm-5">
                <label asp-for="SearchEmail"></label>
                <input placeholder="customer e-mail" type="search" class="form-control" asp-for="SearchEmail" />
            </div>
            <div class="form-group col-sm-2 d-flex">
                <button class="btn btn-outline-secondary align-self-end" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-info table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Customer</th>
                <th>Membership</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.FirstName @customer.LastName</td>
                <td>@customer.Membership</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNumber</td>
                <td>
                    <a class="btn btn-outline-secondary" asp-page="./Edit" asp-route-id="@customer.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@customer.Id">
                        <i class="fas fa-search-plus"></i>
                    </a>
                    <a class="btn btn-outline-secondary" asp-page="./Delete" asp-route-id="@customer.Id">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
        <tfoot style="visibility:@(!Model.Customers.Any() ? "visible" : "hidden")">
            <tr>
                <td colspan="3">
                    No customers to display!
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="form-group">
    <a class="btn btn-primary" asp-page="./Edit">Add Customer</a>
</div>

<div class="form-group">
    <a class="btn btn-primary" asp-page="/Membership/Edit">Add Membership</a>
</div>