@page
@model BikeRentApp.Pages.Membership.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Memberships</h1>
<div>
    <table class="table table-bordered table-warning table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Membership Type</th>
                <th>Buying Discount</th>
                <th>Rent Discount</th>
                <th>Members</th>
                <th>Edit | Delete</th>
            </tr>
        </thead>
        @foreach (var membership in Model.Memberships.GroupBy(m=>m.MembershipType))
        {
            <tr>
                <td>@membership.First().MembershipType</td>
                <td>@membership.First().DiscountBuy.ToString("P")</td>
                <td>@membership.First().DiscountRent.ToString("P")</td>
                <td>@Model.Customers.Where(c=>c.Membership.MembershipType == membership.First().MembershipType).Count()</td>
                <td>
                    <a class="btn btn-outline-secondary" asp-page="./Edit" asp-route-id="@membership.First().Id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-outline-secondary" asp-page="./Delete" asp-route-id="@membership.First().Id">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
        <tfoot style="visibility:@(!Model.Memberships.Any() ? "visible" : "hidden")">
            <tr>
                <td colspan="3">
                    Nothing to display. Add membership!
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="form-group">
    <a class="btn btn-primary" asp-page="./Edit">Add Membership</a>
    <a class="btn btn-secondary" asp-page="/Customer/List">Back to customers list</a>
</div>

@if (!string.IsNullOrEmpty(Model.TempMessage))
{
    <div class="alert alert-warning">@Model.TempMessage</div>
}